/* - MASTER.RESET <<<--------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, active, hover, selected {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
}

ol,ul {
    list-style: none;
}


.header {
	background-color: black;
}

.header-content {
	display: flex;
	align-items: center;
}

.header-title {
	font-size: calc(1vw * 6);
	font-style: italic;
	text-align: justify-all;
	display: flex;
	flex-direction: row;

}

.header-subtitle {
	display: flex;
	font-size: calc(1vw * 2);
	color: #dbdbdb;
}

.profile-pic {
	width: calc(1vw * 15);
	height: 15%;
	padding-right: 1%; 
}

.header-navbar {
	display: flex;
	width: calc(1vw * 100);
	justify-content: center;
	margin: auto;
	padding: auto;
}

.nav-button {
	width: 24%;
	margin: auto;
	overflow: hidden;
	.nav-btn-text {
		display: flex;
		font-weight: bold;
		font-size: calc(1vw * 2.25);
	}
}

.abt-me {
	display: flex;
	align-items: center;
}

.abt-me-pic {
	width: calc(1vw * 25);
	height: 20%;
	padding-right: 1%;
	vertical-align: middle;
}

.section-title {
	font-size: calc(1vw * 4);
	font-style: italic;
	text-decoration: underline;
	font-weight: bold;
}

.section-subtitle {
	font-size: calc(1vw * 3);
	font-style: italic;
	text-decoration: underline;
	font-weight: bold;
	color: #dbdbdb;
}

.section-body {
	font-size: calc(1vw * 2);
	text-align: justify-all;
	color: #bfbfbf;
	font-weight: bold;

	display: flex;
}

.web-footer {
	bottom: 0;
	vertical-align: middle;
	width: 100%;
	height: 5%;
}

.footer-content {
	text-align: center;
	vertical-align: middle;
	font-style: italic;
}
/*
.res-page-section {
	width: 100%;
	display: flex;
}

.resume-column-left {
	width: 75%;
	float: left;
}

.resume-column-right {
	width: 25%;
	.job-list {
		margin-left: 5%;
	}

	.pos-title {
		color: #e8e8e8;
		font-size: calc(1vw * 2.5);
		font-weight: bold;
		text-decoration: underline;

	}
	.pos-subtitle {
		color: #e8e8e8;
		font-weight: bold;
		font-style: italic;
		font-size: calc(1vw * 1.75);
	}

	.pos-content {
		color: #bfbfbf;
		font-size: calc(1vw * 1.5);
		font-weight: bold;
		display: flex;
	}
}
*/
.job-list {
		margin-left: 5%;
	}

	.pos-title {
		color: #e8e8e8;
		font-size: calc(1vw * 2.5);
		font-weight: bold;
		text-decoration: underline;

	}
	.pos-subtitle {
		color: #e8e8e8;
		font-weight: bold;
		font-style: italic;
		font-size: calc(1vw * 1.75);
	}

	.pos-content {
		color: #bfbfbf;
		font-size: calc(1vw * 1.5);
		font-weight: bold;
		display: flex;
	}

.personal-project-section {
	margin: 1%;
	vertical-align: top;
	.game-title {
		text-align: center;
	}

	.game-section-left {
		display: flex;
		height: auto;
		.project-images {
			width: 40%;
			float: left;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.game-cover-pic {
				width: 100%;
			}
			.game-demo-pics {
				justify-content: center;
				display: flex;
				img {
					margin: 1%;
					max-width: 50%;
				}
			}
		}
		.game-description {
			width: 60%;
			margin-left: 3%;
			margin-right: 3%;
			float: right;
			font-size: calc(1vw * 2);
		}
	}

	.game-section-right {
		display: flex;
		.project-images {
			width: 40%;
			float: right;
			display: flex;
			flex-direction: row;
			justify-content: center;
			.game-cover-pic {
				width: 100%;
				height: 100%;
				max-width: 66%;
				max-height: 67%;
			}
			.game-demo-pics {
				display: flex;
				flex-direction: column;
				align-items: center;
				img {
					flex-wrap: wrap;
					margin: 1%;
					max-height: 22%;	
				}
			}
		}
		.game-description {
			width: 60%;
			float: left;
			margin-left: 3%;
			margin-right: 3%;
			font-size: calc(1vw * 2);
		}
	}
}



.control {
	width: 800px;
	display: flex;
	align-items: center;
	justify-content: left;
	.button {
		width: calc(1vw * 1.5);
		display: flex;
		font-weight: bold;
		margin-left: 3%;
		margin-right: 3%;
	}
	.section-subtitle{
		font-size: calc(1vw * 1.5);
	}
}

.scroll-card {
	position: sticky;
	opacity: ;
	box-shadow: 3px 3px 4px lightblue;
	border-radius: 10%;
	width: fit-content;
	top: 15%;
	z-index: 1;
	background-color: black;
	display: flex;
	flex-direction: column;
	padding: 0.5%;
	.nav-button {
		opacity: 0.8;
		width: calc(1vw * 20);
		padding: 1%;
		margin: auto;
		overflow: hidden;
		.nav-btn-text {
			display: flex;
			font-weight: bold;
			font-size: calc(1vw * 1.5);
		}
	}
}

.tooltip {
	background-color: grey;
	border-radius: 5%;
	position: relative;
	width: calc(1vw * 3);
	height: calc(1vw * 3);
	visible;
	.tooltip-content {
		visibility: hidden;
		background-color: black;
		color: #fff;
		text-align: center;
		padding: 3px;
		border-radius: 6px;
		position: absolute;
		z-index: 1;
	}
	.tooltip-img {
		height: 100%;
		width: 100%;
		opacity: 50%;
	}

}

.tooltip:hover .tooltip-content {
  visibility: visible;
}
